<head>
    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #1A1F71 !important;
            border-color: #1A1F71;
        }
        .btn-link {
            color: #FA9B00;
        }
        .btn-danger {
            background-color: #FA9B00 !important;
            border-color: #FA9B00;
        }
    </style>
</head>
<h1>Charities</h1>
<a routerLink="add" class="btn btn-sm btn-primary mb-2">Add Charity</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Charity Name</th>
            <th style="width: 20%">Logo</th>
            <th style="width: 30%">Description</th>
            <th style="width: 20%">Account Number</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.logo}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>