<div class="p-4">
    <div class="container">
        <h1>Welcome, {{user.name}}!</h1>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<p>Who would you like to transfer money to? Type the email address in the box.</p>
		    <div class="form-row">
		        <div class="form-group col">
		            <label for="email">Email</label>
		            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
		            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
		                <div *ngIf="f.email.errors.required">Email is required</div>
		            </div>
		        </div>
		        <div class="form-group col">
		        </div>
		    </div>
		    <table class="table table-striped">
			    <thead>
			        <tr>
			            <th style="width: 40%">Full Name</th>
			            <th style="width: 40%">Email</th>
			            <th style="width: 20%">Country</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr *ngFor="let user of users">
			            <td>{{user.name}}</td>
			            <td>{{user.email}}</td>
			            <td>{{user.country}}</td>
			        </tr>
			        <tr *ngIf="!users">
			            <td colspan="4" class="text-center">
			                <span class="spinner-border spinner-border-lg align-center"></span>
			            </td>
			        </tr>
			    </tbody>
			</table>
		    <p>How much money would you like to transfer? Type the amount in the box.</p>
			<div class="form-row">
				<div class="form-group col">
					<label for="amount">Amount</label>
			        <input type="text" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
			        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
			            <div *ngIf="f.amount.errors.required">Amount is required</div>
			        </div>
			    </div>
			    <div class="form-group col">
			    </div>
		    </div>
		    <div class="form-group">
		        <button routerLink="/transfer" [disabled]="loading" class="btn btn-primary">
		            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
		            Transfer
		        </button>
		    </div>
		</form>
</div>
