/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Helvetica";

a { cursor: pointer; }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1A1F71 !important;
    border-color: #1A1F71;
    margin: 10px;
}
.btn-link {
    color: #FA9B00;
}

.btn-danger {
    background-color: #FA9B00 !important;
    border-color: #FA9B00;
}