<h1>Hi <%= user_name %></h1>
<br>
<h2>Account details</h2>
<ul>
  <li>Email: <%= email %></li>
  <li>Account Number: <%= acc_num %></li>
  <li>Country: <%= country %></li>
</ul>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<form action="/deleteaccount" method="POST">
  <div>
    <label for="email">Please enter your email to confirm the deletion of your account.</label>
    <input type="email" id="email" name="email" required>
  </div>
  <button type="submit">Delete Account</button>
</form>