<head>
    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #1A1F71 !important;
            border-color: #1A1F71;
            margin: 10px;
        }
        .btn-link {
            color: #FA9B00;
        }
    </style>
</head>
<div class="p-4">
    <div class="container">
        <h1>Welcome, {{user.firstName}}!</h1>
        <p>How much money would you like to donate?</p>
        <div class="btn-toolbar">
		    <button type="button" id="transfer" routerLink="/transfer" class="btn btn-primary btn-lg">Transfer</button>
		    <button type="button" id="donate" routerLink="/donate" class="btn btn-primary btn-lg">Donate</button>
		</div>
    </div>
</div>