<div class="p-4">
    <div class="container">
        <h1>Welcome, {{user.name}}!</h1>
        <p>Would you like to transfer money or donate to a charity?</p>
        <div class="btn-toolbar">
		    <button type="button" id="transfer" routerLink="/transfer" routerLinkActive="active" class="btn btn-primary btn-lg">Transfer</button>
		    <button type="button" id="donate" routerLink="/donate" routerLinkActive="active" class="btn btn-primary btn-lg">Donate</button>
		</div>
    </div>
</div>